<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>ANGULAR JS</title>
        <link rel="stylesheet" href="style.css" type="text/css" />
        
    </head>
    <body ng-app="myApp">
        <hr><hr>
        <h1>MY   ANGULAR   JS   Q.C.M</h1>
        <hr><hr>
      
        <div ng-controller="quizzCtrl">
            <form ng-submit>
                <div style="display:{{questionStyle}}">
                    <div id="question" ng-model="question">{{quizz[index].question}}(Points : {{point}}/10)</div>
                    
                    <label  style='display:{{effetf}}'><input type='radio' class="p" ng-click="questionnaire()" ng-model='rep' value='rep1'>{{quizz[index].rep1}}</label>
                    <label  style='display:{{effetf}}'><input type='radio' class="p" ng-click="questionnaire()" ng-model='rep' value='rep2'>{{quizz[index].rep2}}</label>
                    <label  style='display:{{effet}}'><input type='radio'  class="p" ng-click="questionnaire()" ng-model='rep' value='rep3'>{{quizz[index].rep3}}</label>
                    <label  style='display:{{effet}}'><input type='radio'  class="p" ng-click="questionnaire()" ng-model='rep' value='rep4'>{{quizz[index].rep4}}</label>
                    
                </div> 
                <span style="display:{{startStyle}}">
                    <input type="submit" class="start" ng-click="start()" value="START >>>>>" >
                </span>
                <div id="final" style="display:{{final}}">
                    Points : {{point}}/10<hr><hr>
                    {{msg}}
                </div>
            </form>
        </div>

            <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.2/angular.min.js"></script>
           <script type="text/javascript" src="script.js"></script>
    </body>
    
</html>