html{
    background-image: url("angular_img.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

h1{
  display:block;
  margin-top:10px;
  text-align:center;
  font-size:60px;
  font-weight:bold;
}

.button{
  margin-top:30px;
  float:right;
  display:block;
  width:40%;
  border-radius:10px;
  background-color:#2ecc71;
  height:50px;
  font-size:25px;
  font-weight:bold;
}

.start{
  margin-top:10%;
  margin-left:30%;
  width:40%;
  border-radius:10px;
  background-color:#2ecc71;
  height:100px;
  font-size:50px;
  font-weight:bold;
}

#question{
  font-size:40px;
  font-weight:bold;
  text-align:center;
  padding-bottom:40px;
}

label{
  clear:both;
  cursor:pointer;
  margin-top:20px;
  text-align:center;
  font-size:20px;
  font-weight:bold;
  border:2px solid black;
  border-radius:10px;
  background-color:rgba(130,141,232,0.5);
}


label:hover{
  background-color:rgba(130,141,232,0.8);
  font-weight:normal;
}


.p{
  display:none;
}

#final{
  font-size:50px;
  text-align:center;
  font-weight:bold;
  margin:20px;
  color:#0C594A;
}
